*{
  font-family: sans-serif;
}

body, html {
    height: 100%;
}

body{
  margin: 0;
  padding: 0;
  background-color: white;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.cabecera{
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  background: black;
  border-radius: 10px;
}

.titulo{
  color: #EF831D;
  margin: 30px auto 10px;
}

.menu{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.ciudad{
  color: #EF831D;
  width: 10vw;
  height: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin: 30px 30px;
  transition: all 0.3s ease;
  cursor: pointer;
  border: 2px solid #EF831D;
  border-radius: 10px;
}

.ciudad:hover {
  color: white;
  background-color: #EF831D;
}

.slider{
  width: 100%;
  margin: 0;
  overflow: hidden;
  position: absolute;
}

.slider ul{
  display: flex;
  padding: 0;
  width: 400%;

  animation: cambio 15s infinite alternate;
}

.slider li{
  width: 100%;
  list-style: none;
}

.slider img {
width: 100%;
height: 95%;
filter: blur(5px);
}

@keyframes cambio {
  0%{margin-left: 0;}
  20%{margin-left: 0;}

  25%{margin-left: -100%;}
  45%{margin-left: -100%;}

  50%{margin-left: -200%;}
  70%{margin-left: -200%;}

  75%{margin-left: -300%;}
  100%{margin-left: -300%;}

}
