*{
  font-family: sans-serif;
}

body, html {
    height: 100%;
}

body {

  background-image: url(../media/mex.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  display: flex;
  flex-direction: rox;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.cabecera{
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  background: black;
  border-radius: 10px;
}

.titulo{
  color: #EF831D;
  margin: 30px auto 10px;
}

.menu{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.ciudad{
  color: #EF831D;
  width: 10vw;
  height: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin: 30px 30px;
  transition: all 0.3s ease;
  cursor: pointer;
  border: 2px solid #EF831D;
  border-radius: 10px;
}

.ciudad:hover {
  color: white;
  background-color: #EF831D;
}
